/* body {
  margin: 0px;
  padding: 0px;
} */

.profile-pic {
  height: 35px;
  border-radius: 20px;
}

.hamburger {
  height: 25px;
  display: none;
  padding-right: 10px;
}

.header {
  height: 45px;
  width: 100%;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: rgb(179, 122, 233);
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 0px;
  z-index: 20;
  font-size: large;
}

.header-left {
  display: flex;
  flex: 0;
  align-items: center;
  padding-left: 10px;
}

.header-center {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.header-right {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  padding-left: 15px;
}

.home-text {
  font-family: roboto, arial;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 7px 0px 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarButton {
  color: rgb(179, 122, 233);
  font-weight: 600;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

.navBarButton:active {
  opacity: 0.5;
}

.electric-easel-logo {
  height: 30px;
  display: inline-block;
}

.electric-ee-logo {
  height: 30px;
  display: none;
}

.header-right svg:hover {
  filter: drop-shadow(0px 0px 6px black);
}

/* footer */

a {
  text-decoration: none;
  color: white;
}

.footer-div {
  background-color: rgb(179, 122, 233);
  height: 150px;
  overflow: hidden;
  margin-top: 70px;
}

.icons {
  top: -28px;
  right: 50px;
}

.icons div {
  width: 40px;
  height: 40px;
  border: solid 3px;
  border-color: rgb(179, 122, 233);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-img {
  transform: translateY(60px);
  height: 170px;
}

.copyright-text {
  color: white;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  font-size: 1rem;
}

.footer-nav {
  color: white; 
  opacity: 0.5; 
  position: absolute; 
  top: 10px;  
  z-index: 2;
  display: flex;
  white-space: nowrap;
}

a {
  color: white;
  text-decoration: none;
}

/* tooltip */

.navTool-tip {
  position: absolute;
  white-space: nowrap;
  font-size: 13px;
  background-color: rgb(179, 131, 197);
  color: white;
  border: white solid 1px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px 3px 5px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
}

.home-text:hover .navTool-tip {
  opacity: 0.9;
}

.invicible {
  display: none;
}

@media (max-width: 576px) {
  .electric-easel-logo {
    display: none;
  }

  .electric-ee-logo {
    display: inline-block;
  }

  .home-text {
    font-size: 10px;
    padding: 0px 4px 0px 4px;
  }
  .navTool-tip {
    font-size: 10px;
  }

  .footer-img {
    height: 90px;
    transform: translateY(70px);
  }

  .copyright-text, .footer-nav{
    font-size: 0.7rem;
  }

  .footer-div {
    height: 120px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}