.scoreboard-div {
  background-color: white;
  width: 410px;
  height: 120px;
  position: fixed;
  right: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgb(179, 122, 233);
  top: 65px;
}

.level-div {
  background-color: rgb(179, 122, 233);
  height: 30px;
  width: 300px;
  position: absolute;
  top: -15px;
  left: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 33px;
  padding: 0px 5px 6px 5px;
}

.scoreValue-div {
  background-color: rgb(179, 122, 233);
  height: 70px;
  position: absolute;
  left: 100px;
  bottom: -35px;
  text-align: center;
  color: white;
  font-size: 45px;
  border-radius: 33px;
  pointer-events: none;
  border: none;
}

.result-div {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(179, 122, 233);
}

.button-div {
  background-color: rgb(179, 122, 233);
  border: none;
  color: white;
}

.button-div:hover {
  background-color: rgb(154, 102, 202);
  color: white;
}

.quiz-sidebar {
  /* background-color: red; */
  display: inline-block;
  width: 190px;
  position: fixed;
  bottom: 0;
  top: 47px;
}

.quiz-sidebar button {
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-wrap: nowrap;
  width: 184px;
  align-items: center;
  justify-content: center;
  margin: 5px 3px 5px 3px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 0px 10px 0px;
  transition: 0.25s;
}

.quiz-sidebar button:hover {
  background-color: rgb(212, 190, 233);
  color: white;
}

.quiz-sidebar button:hover svg {
  fill: white;
}

.card-margin {
  width: 600px;
  margin-left: 140px;
}

.outer-div {
  margin-top: 65px;
}

.scoreboard-down {
  background-color: white;
  width: 410px;
  height: 320px;
  position: fixed;
  right: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgb(179, 122, 233);
  bottom: 5px;
}

.scoreboard-down button {
  background-color: rgb(199, 160, 236);
  font-weight: 500;
  color: white;
  height: 40px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 0px 10px 0px;
  transition: 0.25s;
}